.button {
    font: inherit;
    border: 1px solid #1e6572;
    background: #1e6572;
    color: white;
    padding: 0.25rem 1rem;
    cursor: pointer;
  }
  
  .button:hover,
  .button:active {
    background: #2086c2;
    border-color: #2086c2;
  }
  
  .button:focus {
    outline: none;
  }